<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>
      <header>
        <div><a href="/">Pokemon Inventory</a></div>
        <div>
          <a href="/new"><button>Create New Trainer</button></a>
          <a href="/"><button>All Trainers</button></a>
          <a href="/trainer/<%= data[0].owner_id%>"><button>Back</button></a>
        </div>
      </header>
      <main>
      
          <div class="item">
      
              <div>
                <strong><%= data[0].name %></strong>
                <div><%=data[0].category%></div>
                <div><%=data[0].type%></div>
                <div><%=data[0].level%></div>
                <div><%=data[0].description%></div>
                <img src="<%= data[0].url %>" alt="img"/>
              </div>
      
              <div>
                <a
                  href="/trainer/<%= data[0].owner_id %>/<%= data[0].category %>/<%= data[0].category_id %>/update"
                  ><button>Update</button></a
                >
                <form
                  action="/trainer/<%= data[0].owner_id %>/<%= data[0].category %>/<%= data[0].category_id %>/delete"
                  method="POST"
                >
                  <button>Delete</button>
                </form>
              </div>
      
          </div>
      </main>
    </div>
    <footer>
      <a href="https://github.com/davebott-dev">View My Github</a>
    </footer>
  </body>
</html>
